name: Playwright Tests
on:
  push:
jobs:
  
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: ${{secrets.PG_PASS}}
          POSTGRES_USER: postgres
          POSTGRES_DB: invetory_app
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    timeout-minutes: 60
    env:
      DATABASE_URL: postgresql://postgres:${{secrets.PG_PASS}}@localhost:5432/invetory_app
      BASE_URL: http://localhost:3000
      NODE_ENV: test
      JWT_SECRET: ${{secrets.JWT_SECRET}}
      LOGIN: ${{secrets.LOGIN}}
      NUXT_NODEMAILER_AUTH_PASS: ${{secrets.NUXT_NODEMAILER_AUTH_PASS}}
      NUXT_NODEMAILER_FROM: ${{vars.NUXT_NODEMAILER_FROM}}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
        cache: npm
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Migrate DATABASE
      run: npx drizzle-kit migrate
    - name: Run dev
      run: |
         npm run dev & 
         npx wait-on http://localhost:3000
    - name: Run Playwright tests
      run: npx playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
